<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280804937874-nb4omqcllagl7dif8e75tqnd12ted6pi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280804937874-nb4omqcllagl7dif8e75tqnd12ted6pi</string>
	<key>API_KEY</key>
	<string>AIzaSyB2QbxcZBhCSqz-ZpMqcNlWsg5Bh9OWbAo</string>
	<key>GCM_SENDER_ID</key>
	<string>280804937874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.school</string>
	<key>PROJECT_ID</key>
	<string>school-9c5ed</string>
	<key>STORAGE_BUCKET</key>
	<string>school-9c5ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280804937874:ios:24e2708937fef09030164b</string>
</dict>
</plist>